@import "compass/css3/box-sizing";

.drawingoptions-color-container {
  border: 1px solid white;
}

.drawingoptions-color-container,
.drawingoptions-color {
  width: 16px;
  height: 16px;
  line-height: 13px;
  display: inline-block;
}

.drawingoptions-color {
  width: 14px;
  height: 14px;
}

.link {
  stroke: #FF0000;
  fill: none;
  stroke-width: 2px;
}