$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass/utilities/sprites";
@import "sprites/icons/*.png";
@include all-icons-sprites;

@import "branik";
@import "drawingoptions";

html, body {
  height: 100%;
}

svg {
  background-color: #f6f6f6;
  padding: 5px;
}

.main-view.container-fluid {
  padding: 0;
}

.grid .tick line {
  stroke: #DCDCDC;
}

svg.hide-grid .grid {
  display: none;
}

.grid path {
  fill: none;
}

.brankik {
  font-size: inherit;
}

.js-resize-controls {
  stroke-width: 5px;
}

li.active {
  background:#eee;
}

.selected {
  background: none repeat scroll 0 0 #99bbff;
  color: white;
}

.load-item-item {
  padding: 5px;
  margin: 5px;
}

.load-items {
  max-height: 250px;
  overflow: auto;
}