<div>
    <div class="modal-header">
        <h3 class="modal-title">Load saved drawing</h3>
    </div>
    <div class="modal-body">
        <div class="load-items">
            <div ng-repeat="(key, value) in $parent.items" class="load-item-item" ng-class="{'selected': value.selected}" ng-click="onItemClick(value)">
                {{key}}
            </div>
        </div>
        <br/>
        <button class="pull-right btn btn-lg btn-primary" ng-click="onLoad()">Load</button>
        <div class="clearfix"></div>
    </div>
</div>