<div id="menu" class="navbar navbar-fixed-top" role="navigation" ng-controller="MenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">jsCAD</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':showGrid}">
                    <a class="btn btn-link btn-lg" ng-click="toggleGrid()" role="button">
                        <span class="brankik brankik-grid"></span>
                    </a>
                </li>
                <li ng-class="{'active':panEnabled}">
                    <a role="button" class="btn btn-link btn-lg" ng-click="togglePan()">
                        <span class="brankik brankik-hand"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a type="button" class="btn dropdown-toggle">
                        {{currentRenderingStrategy}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(renderingStrategyKey, renderingStrategy) in renderingStrategies" ng-click="changeRenderingStrategy(renderingStrategyKey)">
                            <a>
                                <span>{{renderingStrategyKey}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a type="button" class="btn dropdown-toggle">
                        <span class="{{currentShapeGroup.icon}}"></span>
                        {{currentShapeGroup.name}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="shapeGroup in shapes" ng-click="changeShapeGroup(shapeGroup)">
                            <a>
                                <span class="{{shapeGroup.icon}}"></span>
                                <span>{{shapeGroup.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-repeat="shapeButton in currentShapeGroup.shapeButtons" ng-click="setActiveShape(shapeButton.shapeId)" ng-class="{'active': (currentShapeId === shapeButton.shapeId)}">
                    <a><span ng-class="shapeButton.iconCls"></span></a>
                </li>
                <li>
                    <a colorpicker="rgba" ng-model="drawingOptions.fill" class="brankik-paint btn btn-lg">
                        <div class="drawingoptions-color-container icons-checkers">
                            <div class="drawingoptions-color" ng-style="{'background-color':drawingOptions.fill}"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a colorpicker="rgba" ng-model="drawingOptions.outline" class="brankik-pen btn btn-lg">
                        <div class="drawingoptions-color-container icons-checkers">
                            <div class="drawingoptions-color" ng-style="{'background-color':drawingOptions.outline}"></div>
                        </div>
                    </a>
                </li>
                <li ng-class="{'active': linkActive}" ng-click="activateLink()">
                    <a class="brankik-link btn btn-lg"></a>
                </li>
                <li class="navbar-right">
                    <a class="btn btn-link btn-lg" ng-click="save()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </a>
                </li>
                <li class="navbar-right">
                    <a class="btn btn-link btn-lg" ng-click="load()">
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>