<div>
    <div class="modal-header">
        <h3 class="modal-title">Save</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="fileName" ng-model="$parent.name" placeholder="File name" required="">
            </div>
            <br/>
            <button class="pull-right btn btn-lg btn-primary" ng-click="onSave()">Save</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>